<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8"/>
    <title>{{pageTitle}}</title>
  </head>
  <body>

    {{> header}}

    <p>Search up any problems <a href="https://google.ca">here</a></p>

    {{> footer}}
  </body>
</html>
